.product-info{
    padding: 40px 0px;
    margin: auto;
    max-width: 721px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-info h1{
    text-align: center;
    font-size: 3rem;
    line-height: 72px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Simplon Norm',sans-serif;
    color: #252020;
    margin-bottom: 10px;
}
.product-info p{
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    /* font-family: 'Simplon Norm',sans-serif; */
    color: #252020;
}

@media screen and (max-width:712px) {
    .product-info h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:576px) {
    .product-info h1{
        font-size: 2rem;
        line-height: 50px;
    }
    .product-info p{
        font-size: 1rem;
        line-height: 28px;
    }
}
@media screen and (max-width:472px) {
    .product-info{
        padding: 2px 0px 10px 0px;
    }
    .product-info h1{
        font-size: 1.2rem;
        line-height: 29px;
    }
    .product-info p{
        font-size: 0.9rem;
        line-height: 22px;
    }
}